body {
  background: url("https://s18.postimg.cc/8hbyix1x5/ocean_waves.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center {
  margin: auto;
}

.buff {
  height: 300px;
}
