.container {
    width: 70%;
    height: 100%;
    background: #87b5ff;
    margin: 10% auto;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
}

#signin {
    margin: auto;
    padding-top: 10px;
}

.hide {
    display:none;
}

